<div class="card">
  <div class="card-header bg-primary text-white d-flex align-items-center justify-content-between align-itens-center">
    <h1>Add a new restaurant</h1>
    <%= link_to 'Back to list', restaurants_path, class: "text-white" %>
  </div>
  <div class="card-body">
    <%= simple_form_for @restaurant do |f| %>
      <%= f.input :name, label: 'Restaurant name' %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category, collection: Restaurant::CATEGORY %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
