<div class="card">
  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
      <h5><%= @restaurant.name %></h5>
      <p><%= @restaurant.phone_number %></p>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title"><%= @restaurant.address %></h5>
      <p class="card-text"><%= @restaurant.category.capitalize %></p>
    </div>
    <br>
    <p><strong>Customers reviews:</strong></p>
    <ul class="list-group list-group-flush">
      <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">Nota: <strong><%= review.rating %>/5</strong> - <%= review.content %></li>
      <% end %>
    </ul>
    <br>
    <%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-outline-primary" %>
  </div>
</div>
<div class="mt-4">
  <%= link_to "Back to list", restaurants_path %> 
</div>